<html>
  <head>
    <title>Christine's Blog</title>
  </head>
  <body>
    <div>
            <h1><a href="">Blog</a></h1>
        </div>

        <div>
            <p>published: 07.07.2017, 15:17</p>
            <h2><a href="">My first post</a></h2>
            <p>Finally finished making dis blog. It took way too long.</p>
        </div>

        <div>
            <p>published: 07.07.2017, 15:18</p>
            <h2><a href="">My second post</a></h2>
            <p>Cat needs to get on my level.</p>
        </div>
  </body>
</html>
